body
{
	background-color: white;
}
.logo
{
	text-decoration: none;
	color: #365cad;
	font-size: 27px;
	padding: 14px 29px;
	width: 20%;
	float: left;
	font-family: 'Comic Sans MS', sans-serif;
}
.menu li
{
	width: 180px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	float: left;
	transform: translate(-25%,10%);
	list-style-type: none;
}
.menu li a
{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
 header ul li ul
{
	display: none;
	position: absolute;
	background-color: white;
	list-style-type: none;
	padding: 10px 45px;
	border-radius: 0px 0px 4px 4px;
}
 header ul li:hover ul
{
	display: block;
}
 header ul li ul li 
{
	width: 180px;
	border-radius: 4px;
}
 header ul li ul li a
{
	padding: 8px 12px;
}
 header ul li ul li a:hover
{
	background: #f3f3f3;
}
 h1
{
	transform: translate(19%,210%);
	font-family: 'Heebo', sans-serif;
}